<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.is.index.dao.PictureDao" >

	<select id="GetThreePictureByTime" resultType="com.is.index.dto.PictureDto" >
    	select * from p_picture 
  	</select>
  	
  	<select id="GetAllPictureByUserName" resultType="com.is.index.dto.PictureDto"  parameterType="com.is.index.dto.PictureDto">
    	select * from p_picture where picture_author=#{picture_author}
  	</select>
  	
  	<insert id="AddPicture" parameterType="com.is.index.dto.PictureDto">
		insert into p_picture (picture_id, picture_name, picture_type, picture_describe, picture_author, picture_url,picture_time ) values (
			SYS_GUID(),	#{picture_name}, #{picture_type}, #{picture_describe}, #{picture_author}, #{picture_url},#{picture_time}	)
	</insert>
	
	<select id="SelectPictureLike" resultType="com.is.index.dto.PictureDto"  parameterType="com.is.index.dto.PictureDto">
    	select * from p_picture where picture_describe like #{picture_describe}
  	</select>
  	
  	<select id="SelectPictureByPictureId" resultType="com.is.index.dto.PictureDto"  parameterType="com.is.index.dto.PictureDto">
    	select * from p_picture where picture_id=#{picture_id}
  	</select>
  	
</mapper>